main {
    background-color: $backgroundColour;
    padding-bottom: 120px;
}

.wrapper {
    background-color: $backgroundColour;
    position: relative;
}

.content-wrap {
    position: relative;
}

.header-text {
    font-family: $headerFont;
    color: $contentColour;
    position: absolute;
    top: 20%;
    font-size: 30px;
    padding-left: 40px;
    text-shadow: 1px 1px 5px black;
}

.header-img {
    
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;

    img {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
}

header h1 {
    margin: 0;
}