nav {
    background-color: $headerbackgroundColour;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: block;
    justify-content: flex-end;
    width: 100%;
    padding: 0 0 10px 20px;
    }

    li a {
        text-decoration: none;
        color: $headerFontColour;
        line-height: 2em;
        display: block;

        &:hover {
            color: rgb(155, 155, 155);
        }
    }

    .logo {
        width: 80px;
        padding: 8px 0 0 0;
        justify-self: center;
    }
}

.hamburger-react { 
    color: white;
    position: absolute !important;
    left: 10px;
    top: 0;
}


