@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// Style Variables

// Colors
$dark: #000;
$light: #000;
$headerFontColour: white;
$headerbackgroundColour: #263855;
$backgroundColour: #ECF3F3;
$hoverColour: #9b9b9b;

// Typography
$bodyFont: 'Raleway', sans-serif;
$headingFont: 'Replace with Font';