@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Quicksand&display=swap");

// Style Variables

// Colors
$light: #FAFEFF;
$dark: #263855;
$headerFontColour: white;
$headerbackgroundColour: #263855;
$backgroundColour: #ECF3F3;
$hoverColour: #9b9b9b;
$contentColour: #FAFEFF;
$boxShadow: 1px 1px 18px #d8d8d8;
$textShadow: 2px 2px 5px black;

// Typography
$headerFont: 'Merriweather Sans', sans-serif;
$bodyFont: 'Quicksand', sans-serif;

// Button Styles 
$buttonBorder: #dad4d4 1px solid;
$buttonRadius: 4px;