
.about-h1 {
    text-align: center;
    padding-top: 30px;
}

.about-h1, .about-content h2 {
    font-family: $headerFont;
}

.tmdb-img {
    width: 20%;
    margin: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-info {
    width: 90%;
    border: $contentColour 1px solid;
    background-color: $contentColour;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $boxShadow;
    padding: 15px;

    a {
        text-decoration: none;
    
        &:hover {
            color: $hoverColour;
        }
    }
    
}

.about-info:last-child {
    margin-top: 25px;
    margin-bottom: 20px;
}

@media(min-width: 420px) {
    .about-info {
        max-width: 420px;
    }
}

@media(min-width: 880px) {

    .about {
        margin-top: 40px;
    }
    .about-content {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        max-width: 880px;
        justify-content: space-between;
        padding-top: 10px;
    }

    .about-h1 {
        padding-top: 20px;
    }

    .wrapper {
        min-height: 100vh;
        background-color: $backgroundColour;
    }

    .about-info {
        height: 325px;
    }

    .about-info:last-child {
        margin-top: 0;
    }
}