
.content-wrapper {
    margin: auto;
    max-width: 360px;
}

#movie-box {
    
    display: flex;
    box-shadow: 1px 1px 18px #d8d8d8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FAFEFF;
    max-width: 360px;

    img {
        width: 160px;
        height: 240px;
    }

    .movie-title {
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 15px;
    }

    .movie-info {
        width: 47%;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
    }
}

select {
    font-family: $bodyFont;
    box-shadow: 1px 1px 18px #d8d8d8;
    border: #dad4d4 1px solid;
    padding: 4px;
    margin-top: 10px;
    padding-right: 50px;
}

@media (min-width: 720px) {
    
    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .content-wrapper {
        margin: auto;
        max-width: 740px;
        padding-bottom: 20px;
    }

    #movie-box {
        margin: 0;
    }

    #movie-box:nth-child(2) {
        margin-top: 20px;
    }

    #movie-box:first-child {
        margin-top: 20px;
    }

}

@media (min-width: 1080px) {
    
    .content-wrapper {
        max-width: 1080px;
    }

    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #movie-box:nth-child(3) {
        margin-top: 20px;
    }

}

@media (min-width: 1440px) {
    .content-wrapper {
        max-width: 1440px;
    }

    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    #movie-box:nth-child(4) {
        margin-top: 20px;
    }
}