
.content-wrapper {
    max-width: 390px;
    padding-top: 20px;
    margin: auto;

}

.wrapper {
    position: relative;
}

.movie-grid {
    margin-bottom: 30px;
}

.header-img {
    background-image: linear-gradient(to bottom,  #2b7085c7,  #263855dc), url('../../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text { 
    margin-right: 25px;
    margin-top: 10px;

    h1 {
        font-size: 30px;
        margin-bottom: 15px;
        padding-top: 10px;
    }

    p {
        font-size: 20px;
    }
}


#movie-box {
    display: flex;
    box-shadow: $boxShadow;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #FAFEFF;
    max-width: 390px;
    border-radius: 8px;


    .poster-img {
        width: 160px;
        height: 240px;
        border-radius: 8px 0px 0px 8px;
    }

    .movie-title {
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 10px;
        font-size: 15px;

        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }

    .movie-info {
        width: 47%;
        margin-left: auto;
        margin-right: auto;
        

        .movie-desc {
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
        }
    }

    .movie-rls {
        padding-top: 7px;
    }

    .movie-rating {
         padding: 4px 0;
    }

    .movie-rls, .movie-rating, .movie-desc {
        font-size: 13px;
    }
    
    .poster-link img {
        display: block;
        pointer-events: none;
    }
    
    a.poster-link  {
        pointer-events: none;
    }

    img {
        pointer-events: none;
    }

}

select {
    font-family: $bodyFont;
    box-shadow: $boxShadow;
    border: $buttonBorder;
    padding: 4px;
    margin-top: 10px;
    padding-right: 55px;
    border-radius: $buttonRadius;
}

@media (min-width: 750px) {
    
    #movie-box {
        max-width: 350px;
    }
    
    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-wrapper {
        margin: auto;
        max-width: 700px;
        padding-bottom: 20px;
    }

    #movie-box {
        margin: 0;
    }

    #movie-box:nth-child(2) {
        margin-top: 20px;
    }

    #movie-box:first-child {
        margin-top: 20px;
    }

}

@media (min-width: 1100px) {
    
    .content-wrapper {
        max-width: 1050px;
    }

    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 1050px;
    }

    #movie-box:nth-child(3) {
        margin-top: 20px;
    }

}

@media (min-width: 1500px) {
    .content-wrapper {
        max-width: 1400px;
    }

    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        max-width: 1400px;
    }

    #movie-box:nth-child(4) {
        margin-top: 20px;
    }
}