
.content-wrapper {
    max-width: 360px;
    padding-top: 30px;
    margin: auto;

}

.wrapper {
    position: relative;
}

.movie-grid {
    margin-bottom: 60px;
}

#movie-box {
    
    display: flex;
    box-shadow: $boxShadow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #FAFEFF;
    max-width: 360px;

    img {
        width: 160px;
        height: 240px;
    }

    .movie-title {
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 15px;

        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }

    .movie-info {
        width: 47%;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;

        .movie-desc {
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;  
        }
    }
    
    .poster-link img {
        display: block;
    }
}

select {
    font-family: $bodyFont;
    box-shadow: $boxShadow;
    border: #dad4d4 1px solid;
    padding: 4px;
    margin-top: 10px;
    padding-right: 55px;
}

@media (min-width: 720px) {
    
    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .content-wrapper {
        margin: auto;
        max-width: 740px;
        padding-bottom: 20px;
    }

    #movie-box {
        margin: 0;
    }

    #movie-box:nth-child(2) {
        margin-top: 20px;
    }

    #movie-box:first-child {
        margin-top: 20px;
    }

}

@media (min-width: 1080px) {
    
    .content-wrapper {
        max-width: 1080px;
    }

    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #movie-box:nth-child(3) {
        margin-top: 20px;
    }

}

@media (min-width: 1440px) {
    .content-wrapper {
        max-width: 1440px;
    }

    .movie-grid { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    #movie-box:nth-child(4) {
        margin-top: 20px;
    }
}