.search-btn {
    font-family: $bodyFont;
    border: $buttonBorder;
    margin-top: 15px;
    padding: 4px;
    width: 60px;
    border-radius: $buttonRadius;
}

.searchbar {
    font-family: $bodyFont;
    border: $buttonBorder;
    margin-right: 10px;
    width: 240px;
    padding: 4px;
    border-radius: $buttonRadius;
}

.search-wrapper { 
    padding: 35px;
    min-height: 100vh;
    text-align: center;

    h1 {
        padding-bottom: 20px;
        font-size: 40px;
    }

    p {
        padding-bottom: 10px;
        font-size: 18px;
    }

}

.search-crumb { 
    h2 {
        padding-top: 20px;
    }
}

.search-btn-data button {
    width: 140px;
}

#cl-faves {
    margin-top: 15px;
    border-radius: $buttonRadius;
    border: $buttonBorder;
    padding: 4px 15px;
    font-family: $bodyFont;
}

@media (min-width: 1100px) {
    .searchbar {
        width: 300px;
    }

    .search-wrapper {
        h1 {
            font-size: 50px;
        }

        p {
            font-size: 22px;
        }
    }
}