// Resets

html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    min-height: 100vh;
  }

  content-wrap {
    position: relative;
  }

 
  img {
      max-width: 100%;
      height: auto;
  }
  
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

