// Typography

body {
    font-family: $bodyFont;
    color: $dark;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

p {
    line-height: 1.4;
}

a {
    color: $light;
}